.header {
    width: 100%;
    padding: 20px 0;
    background-color: #333;
}

.header__container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    margin-left: 15px;
}

/*nav {*/
/*    width: 230px;*/
/*    height: 764px;*/
/*    background-color: white;*/
    /*box-shadow: 5px 20px 50px rgb(16, 112, 20 / 20%);*/
/*}*/

.right__img:not(:last-child) {
    margin-right: 15px;
}

#burger {
    display: none;
}

#burger:checked ~ .header__nav {
    display: block;
}

#burger:not(:checked) ~ .header__nav {
    display: none;
}

.burger__item-1 {
    cursor: pointer;
}