.main__category__wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__category__wrap__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
    width: 100%;
}

.main__category__wrap__item {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    background-position: center;
    background-size: cover;
}

.width33 {
    width: calc(33.3333% - 60px);
}

.width100 {
    width: 100%;
}

.main__category__wrap__item__text {
    /*position: absolute;*/
    color: white;
}