nav {
  width: 25%;
  height: 100%;
  background-color: red;
  position: absolute;
}

.navContainer {
  display: flex;
  flex-direction: column;
}

.container {
  width: 75%;
  /*position: absolute;*/
}

/*.page {*/
/*  position: absolute;*/
/*  right: 1025px;*/
/*}*/